[submodule "mmc/lib/librcutils/rcutils-sel4cp"]
	path = mmc/lib/librcutils/rcutils-sel4cp
	url = git@github.com:ptrk8/rcutils-sel4cp.git
    branch = humble-sel4cp
    
[submodule "mmc/lib/librcl/rcl-sel4cp"]
	path = mmc/lib/librcl/rcl-sel4cp
	url = git@github.com:ptrk8/rcl-sel4cp.git
    branch = humble-sel4cp
